# ALGORİTMALAR PROJE 1 (INSERTION SORT)

## SORU 1

[22,27,16,2,18,6] -> Insertion Sort

- Yukarı verilen dizinin sort türüne göre aşamalarını yazınız.
- Big-O gösterimini yazınız.
- Time Complexity: Average case: Aradığımız sayının ortada olması,Worst case: Aradığımız sayının sonda olması, Best case: Aradığımız sayının dizinin en başında olması.
- Dizi sıralandıktan sonra 18 sayısı hangi case kapsamına girer? Yazınız.


## CEVAP 1

> **insertion sort aşamaları**
>
>> [2,27,16,22,18,6]
>
>> [2,6,16,22,18,27]
>
>> [2,6,16,18,22,27]

> **Big-O notation**
> 
>> Big-O (n²)

> **Time Complexity**
>> Average case: O(n²)
>> 
>> Worst Case : O(n²)
>> 
>> Best Case : O(n)

> **son soru**
>
>>18 sayısı **average case** kapsamına girer

SORU 2)

[16,21,11,8,12,22] -> Merge Sort'a göre aşamaları;

[16,21,11]          [8,12,22]
 
[16]  [21,11]        [8,12]   [22]
 
[16]  [21]  [11]   [8]  [12]    [22]
 
[16,21]     [8,11]       [12,22]
 
[8,11,16,21]    [12,22]
 
[8,11,12,16,21,22]

Big-O gösterimi >> O(nlogn)


Soru 3)
EXAMPLE
[7, 5, 1, 8, 3, 6, 0, 9, 4, 2]

**Pivot olarak 7 seçildi.

Cevap;
Step 1
5<7 olduğundan 7'nin soluna

Step 2
1<7 olduğundan 7'nin soluna ve 1<5 olduğu için de 5'in soluna

Step 3
7<8 olduğu için 8 rakamı 7'nin sağına

Step 4
3<7 olduğundan 7'nin soluna
3<5 olduğundan 5'soluna
3>1 olduğu için 1 sağına

Step 5
6<7 olduğu için 7 nin soluna
6>5 olduğu için 5 sağına

Step 6
0<7 olduğundan 7'nin soluna
0<5 olduğundan 5'in soluna
0<1 olduğundan 1'soluna

Step 7
9>7 olduğundan 7'nin sağına
9>8 olduğundan 8'in sağına

Step 8
4<7 olduğundan 7'nin soluna
4<5 olduğundan 5'in soluna
4>1 olduğu için 1'in sağına
4>3 olduğu için 3'ün sağına

Step 9
2<7 olduğundan 7'nin soluna
2<5 olduğundan 5'in soluna
2>1 olduğu için 1'in sağına
2<3 olduğu için 3'ün soluna
